* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.left {
    height: 100vh;
    width: 120vh;
    background: linear-gradient(180deg, #0575E6 0%, #02298A 84.79%, #021B79 100%);
    text-align: center;
    padding-top: 350px;
}

.circles {
    position: absolute;
    top: -150;
    right: -150px;
    transform: rotate(180deg);
    transition: transform 6s
}

.circles::after {
    transform: rotate(360deg);
}

.circles2 {
    position: absolute;
    bottom: -50px;
    left: -50px;
}

.left > h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.left > h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 0;
}

.normal-btn {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;

    height: 37px;
    width: 135px;
    background-color: #0575E6;
    border-radius: 30px;
}

.normal-btn:hover {
    cursor: pointer;
    background-color: #2490fc;
}

.right {
    height: 100vh;
    width: 100vh;
    background-color: #FFFFFF;
    text-align: center;
}

.right > h1 {
    margin-top: 30vh;
    margin-bottom: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
    color: #333333;
}

.right > h4 {
    margin-top: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}

.right > form > input {
    margin: auto;
    margin-bottom: 10px;
    display: block;
    justify-content: center;
    align-items: flex-start;
    padding: 18px 26px;
    width: 307px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 30px;
}
.right > form >input:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.right > form > input:focus {
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.right > form > .submit-btn {
    background: #0575E6;
    border-radius: 30px;
    width: 307px;
    height: 57px;
    border: none;
    outline: none;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.right > form > .submit-btn:hover {
    cursor: pointer;
    background: #2f96fd;

 }

.right > a {
    margin-top: 20px;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    opacity: 0.7;
    text-decoration: none;
}

.right > a:hover {
    text-decoration: underline;
    opacity: 0.9;
}

.right > small {
    color: #333333;
    opacity: 0.7;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .left {
        display: none;
    }
    .right {
        width: 50vh;
    }
}