{% extends 'base.html.twig' %}

{% block title %}Hello AuthController!{% endblock %}
{% block stylesheets %}
    {#{{ encore _entry_link_tags('app') }}#}
    <link rel="stylesheet" href="css/auth.css">
{% endblock %}


{% block body %}
    <div class="flex-container">
        <section class="left">
            <h1>Admin WebApp</h1>
            <h4>This is a simple symfony backoffice admin project. </h4>
            <button class="normal-btn">Useless button</button>
        </section>
        <img class="circles" src="circle.png"/>
        <img class="circles2" src="circle.png"/>
        <section class="right">
            <h1>Register</h1>
            <h4>Welcome Back !</h4>
            <form action="#" method="POST">
                <input type="text" name="username" placeholder="Username"/>
                <input type="email" name="email" placeholder="Email Address"/>
                <input type="password" name="password" placeholder="Password"/>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button action="submit" class="submit-btn">Create</button>
            </form> 
            <a href="/login">Already have an account ? Login in !</a>
            <a href="#"><small>&copy; By MrEaqz (Kylian Zaïmi) with ❤️</small></a>
        </section>
    </div>
{% endblock %}
